.playList {
    height: 1024px;
    /*background-color: white;*/
}

.songItem {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    border-bottom: 1px solid #f8f9f9;

}

.highLight{
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f8f9f9;
}


.songItem .chkBox{
    width: 45px;
    font-size: 20px;
    color: #61dafb;
}


.songItem .lengthBox{
    width: 120px;

}
